/* Some of the CSS properties are used in index.html as inline CSS or Internal CSS with <style>*/

header {
    position: sticky;
    font-family: 'Russo One', sans-serif;
}

/* Flexbox */
.listOfRef {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: none;
    background: antiquewhite; 
    list-style: none;
}
.listOfRef a {
    display: block;
    padding: 1em 1em 1em 1em;
    color: rgb(76, 80, 144); 
    flex-basis: 10pt;
}
  
.listOfRef a:hover {
background: #c3cedc; 
}

@media all and (max-width: 700px) { /* Responsiveness, Media Query, based on screen width */
    .listOfRef {
        flex-direction: column;
        flex-flow: column wrap;
        padding: 0px;
    }
    .listOfRef a { 
        text-align: center; 
        padding: 5px 5px 5px 5px;
    }
    .listOfRef li:last-of-type a {
        border-bottom: none;
    }
}

/* Combining Two Selectors */
ul.listOfRef {
    padding-left: 0;
}

/* Universal Selector */
ol * {
    font-family: 'PT Serif', serif;
}

body {
    background-color: #dddddd;
    margin: 50px 50px 50px 50px;
    
}

section {
    border-style: inset;
    border-color: rgb(85, 160, 239) rgb(255, 255, 255) rgb(255, 255, 255) rgb(208, 223, 248);
    border-width: 1ex;
    border-radius: 1em;
    padding: 1.5ex;
    margin-top: 1.5ex;
    margin-bottom: 1.5ex;
}
  
/* Element Selector */
h1 {
    color: rgb(1, 80, 80); 
}
h2 {
    color: hsla(210, 38%, 52%, 0.75) 
}
/* Selector List*/
h1, h2 {
    font-family: 'Russo One', sans-serif;
}
/* General sibling combinator */
h2 ~ img {
    justify-content: left;
}
/* adjacent sibling combinator */
h1 + h3 {
    justify-content: left;
}

/* Descendant Combinator*/
section p {
    font-family: 'PT Serif', serif;
    font-size: 2ex;
    line-height: 2ex;
    padding: 1pt 1pt;
    margin: auto;
    color:#000000;
    text-decoration: solid;
    text-align: left;
}

/* Attribute Selector */
a[href^="https://"] {
    font-weight: bolder;
}

/* Grid */
/* Class Selector */
.recording {
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
    background-color: antiquewhite; 
    border: 1px solid #000000; 
}
/* Child Combinator */
.recording > div {
    background-color: antiquewhite; 
    margin: auto;
    text-align: center;
    justify-content: center;
    border: 2px solid gray; 
    border-radius: 2pt;
    padding: 2px;
    grid-row-start: row-start1;
    grid-row-end: 2;
}


.moreInfo {
    text-decoration: red wavy overline;
    text-align: center;
}

form {
    font-family: 'PT Serif', serif;
}

/* ID Selector */
#comments {
    display: inline;
    height: auto;
    width: auto;
    max-width: 10pc;
    min-width: 5pc;
}

div {
    font-size: larger;
    padding-top: 1pc;
    padding-right: 0.5cm;
    padding-bottom: 1pt;
    padding-left: 0.5cm;
}

button { /* 3 unique absolute units used */
    color: orange; 
    margin-top: 1lh;
    margin-bottom: 1vw;
    margin-left: 65vb;
    margin-right: 42dvw;
    position: relative;
}
/* Pseudo-class Selector */
button:hover {
    color: orangered; 
}
button:active {
    display: none;
}